.headingRooms{
    background-image: url("../../../assets/images/xbg_3.jpg.pagespeed.ic.wuh9gEbsAP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
}