<div class="about d-flex flex-wrap justify-content-around my-5">
    <div class="image col-5">
        <img src="../../assets/images/image_5.jpg" alt="">
    </div>

    <div class="text col-4">
        <p>WELCOME TO ROXANDREA HOTEL</p>
        <h1>Welcome To Our Hotel</h1>
        <p>Roxandrea Hotel was constructed at a time when the United States was defined by great economic prosperity, industrial expansion, and significant social reform.The Roxandrea Hotel, a historic downtown San Francisco hotel, holds a fabled past steeped in grandeur. For over a century, the Roxandrea Hotel has been the site of important and regal events ranging from formal political gatherings to the exclusive galas of high society and private parties. The Roxandrea Hotel today maintains the hotel's tradition of excellence and sophistication.</p>

        <p>Distinguished by our vibrant downtown location, the Roxandrea
            San Francisco Hotel provides luxury accommodations, modern comforts and elegant event spaces in the heart of the city's Financial District. Located on the historic California cable car line and only a short walk to Union Square, Embarcadero, Chinatown, the Ferry Building and the Moscone Convention Center, the Roxandrea
            is at the center of all the exciting sights the “City by the Bay” has to offer..</p>
    </div>
</div>