<div class="oneRoom mx-auto p-5">
    <div class="text">
        <div class="image col-12 d-flex flex-wrap">
            <div class="col-5">
                <img src="../../assets/images/{{room[0].image}}" alt="">
            </div>
            <ul class="d-flex flex-wrap p-5 justify-content-between">
                <li class="col-5">Max: {{room[0].max}} persons</li>
                <li class="col-5">View: {{room[0].view}}</li>
                <li class="col-5">Beds: {{room[0].beds}}</li>
                <li class="col-5">Size: {{room[0].size}} m&#x000B2;</li>
            </ul>
        </div>
        <div class="col-12 mt-5">
            <h1>{{room[0].name}}</h1>
            <p>{{room[0].numberOfRooms}} - Available rooms</p>
            <p>{{room[0].description}}</p>
            <p>Our guests rated this room with: </p>
            <div class="rates">
                <i *ngFor="let i of numbers" [ngClass]="{'fas': i <= room[0].rate,
            'far' : i > room[0].rate }" class="fa-star"></i>
            </div>
        </div>
    </div>
</div>
