<footer class="d-flex flex-wrap p-5 bg-dark text-light  justify-content-around">
    <div class="col-4 text">
        <h3>Roxandrea</h3>
        <p>The real voyage of discovery consists not in seeking new landscapes, but in having new eyes.” ~ Marcel Proust</p>
        <a class="m-2" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="m-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a class="m-2" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col-4">
        <h3>Have a question?</h3>
        <p><i class="fas fa-map-marker-alt"></i>	203 Fake St. Mountain View, San Francisco, California, USA</p>
        <p><i class="fas fa-phone-alt"></i>	+2 392 3929 210 </p>
        <p><i class="fas fa-envelope"></i>	info@roxandrea.com</p>
    </div>
</footer>
